
inner links !!!!
 */

html{
    width: 100vw;
    height: 100vh;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'IM Fell French Canon SC', serif;
}

header{
    z-index: 1;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(204, 195, 195);
    width: 100%;
    padding-top: 1rem;
}

header h1{
    margin: 10px;
}

#header-img{
    width: 2.5rem;
    height: 2.5rem;
}

.brand{
    text-align: center;
}

ul{
    list-style: none;
    text-decoration: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    margin: 2px;
}

a {
    text-decoration: none;
    color: white;
}

main{
    text-align: center;
    margin: 57px;
    margin-top: 16rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

input,
label{
    margin: 6px;
}

input[type="submit"],
button{
    background: rgb(204, 195, 195);
    color: white;
    border-radius: 8px;
    margin: 4px;
}

input[type="email"]{
   border-radius: 8px;
   padding: 5px;
   width: 50%;
   max-width: 16rem;
}

.about-us{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}


.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.description-content{
    display: flex;
    flex-direction: column; 
}

.description-content h1{
    margin: 0;
}

.description-content p{
    margin-top: 5px;
}

.image-container{
  width: 30%;
  padding: 0 3rem;
}

#logo{
    width: 100%;
}

#video{
    width: -webkit-fill-available;
    margin-bottom: 3rem;
}

.workshops{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workshop{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(204, 195, 195);
    margin-bottom: 16px;
    border-radius: 8px;
    width: 100%;
}

.workshop h1{
    background: rgb(204, 195, 195);
    margin: unset;
    padding: 8px;
    font-size: 21px;
}

.workshop p{
    padding: 0.5rem;
    margin-bottom: 0;
    font-size: 21px;
}

footer{
    background: rgb(204, 195, 195);
    padding: 2px 10px;
}

@media (min-width: 40rem) {
    header {
        flex-direction: row;
        display: flex;
        padding-bottom: 6px;
        justify-content: space-between;
    }
    
    .brand{
        display: inline-flex;
        padding-left: 2rem;
    }
    main{
        margin-top: 9rem;
    }

    ul{ 
        flex-direction: row;
        justify-content: center;
    }
    a {
        margin: 2rem;
    }
    .description{
        flex-direction: row;
    }
    .description-content{
        text-align: left;
    }

    .image-container{
        max-width: 40%;
    }
        
    #video{
        width: 560px;
        height: 315px;
    }
    .workshops{
        flex-direction: row;
    }
    .workshop{
        margin: 16px;
    }

    .workshop ul{
        display: flex;
        flex-direction: column;
    }
}